body{
    min-height: 100vh;
}
*{
    padding: 0px;
    margin: 0px;
    font-family:Jost;
    box-sizing: border-box;
}
.main-container{

}
.logo-container{
    padding: 30px;
}
.info-container{
    background: #E2F5FB;
    padding-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container h1{
    color: #003569;
    text-align: center;
    font-size: 80px;
    padding: 0px;
    border-radius: 10px;
}
.essential-vitamins-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 50px;
}
.essentials{
    display: flex;
    align-items: center;
}
.essentials div{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}
.essential-vitamins-container-div-container{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.essential-vitamins-imgs{
    height: 50px;
    width: 50px;
}
.online-text{
    color:#727272;
    margin-bottom: 5px;
}
.text{
    color: #17414F;
    font-weight: bolder;
    line-height: 20px;
}
.text1{
    color:#727272;
    font-size: 12px;
    margin-top: 5px;
    width: 70%;
}
.explore-btn{
    background-color: #17414F;
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    padding: 6px;
}
.medicine-container{
    background-color:#FFE9B5;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0px;
    height: 250px;
    width: 40%;
}
.medicine-img{
    height: 300px;
    width: 300px;
    align-items: flex-start;
    position: relative;
    right: 10px;
    bottom: 75px;
}
.circles{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 30px;
}
.circle-icon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: #727272;
    margin: 10px;
}
.about-container{
    background-color:#17414F;
    width: 80%;
    border-radius: 30px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 70px;
    list-style-type: none;
    padding-left: 30px;
    padding-right: 30px;
}
.about-container li{
    width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    bottom: 50px;
    line-height: 15px;
}
.about-container li div{
    background-color: #ffffff;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.about-head{
    color: #ffffff;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 3px;
}
.about-container-span{
    color:#D9D9D9;
    font-size: 12px;
    margin-top: 3px;
    width: 60%;
}
.ingredients-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.ingredient-head{
    height: 200px;
    width: 300px;
    margin-left: 10px;
}
.ingredients{
    color: #003569;
    font-size: 12px;
    font-weight: 300px;
}
.ingredients-head{
    color: #003569;
    font-size: 25px;
    font-weight: 700;
}
.ingredients-container a{
    margin-top: auto;
    color: #003569;
    text-decoration: underline;
    font-weight: 500;
}
.ingredient1{
    background-image: url("https://s3-alpha-sig.figma.com/img/833b/e5c7/5bb09cfba11a58d6ed328fdfb1d06a40?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aJ3JqyDwptuyLE-RcCPmRkId8D-AB473NFLtJGZsf1eqKca-Glr0vh5PofkjiqRZbAJ11XpBOyrHbssv0gCXQYC9zOmrLlIHCgwLZMzIPfZ5IyyJO0tQGGwRLwTdfBCO8l94sOLC9WRltI8RrjzljRvr1evpHWXUVwTnItuRAd~w6WLtm8yG0dkzA4SSGdSRTvuxHQG5c6ue27AJ-WAA0ejbO~tzWWJuy1mv3OEp5t30HGhZueUAbY8RBJsnZV2K8-l-BoqAnDXaMzPU3ZXRSIAGgibrdZaGg9RzdhjyyYVTzpoUx550w2y7k9JrzA1OZHliWHH-Mu-OZytYoHJOJQ__");
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.ingredient2{
    background-image: url("https://s3-alpha-sig.figma.com/img/b67d/ea77/c211f1eeb242f8ddce11f7afa3e49063?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bvn7niZI~ZoCC4yF1tx4KZk6tXeUfJVvteJGhMWd2g6fCZmt7oKFxBs9kCM4GdJsC9wYbHdzJQnO2IckVZ2JOeFliu0~IokNny-8s1WmmIJB1cHNBbrkUZqa5lORxBwUMbdJ94c2X-nXlZiMGKfLHrUWQQ2WbCNq4XlPW0~snpphxryOBKfS26XhGLhSu8pVx5tbDD-iKHzeXhDZXEyoE4vTrTTmxuvmr8K-NF9WpwSMmyg16VOWm-huoQNIlyaQIWE83lpyKQmO85NOq-eAR1reMuqSEpiHnSo~Fo52ka056fhKEr9iAgcHB1pvlnRum676gKgYRe4qHEGxtAIQSw__");
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.ingredient3{
    background-image: url("https://s3-alpha-sig.figma.com/img/83aa/9334/94616bd5d5a4bedd72a970d56dfe6b3d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QTE1vWwId4dF7m8BzGeTMSMII3pPAv1IylQnBZ7VET~Ymu-6RCBfHfd4~MLasTYfzoNMs4oujdeFS5AWukI6Wihe6qbpIJ-M6uw6Xm0lixAcc9P6R4~8xQCTLaCPlDDM6rQJWSTQk3aCeGGynMB3vxlc1KOMQp36DLFSSF7~GUP5al8vgCVYK7u8nT6qkF2AHQxn6mAiaZ97nuOE3m3axFuiN2RssSlK1jXbc5SyOncyN0eaiqKQR6XzWqO5J14JKHzrxTSWuPE7S8WxCqib8-r-5A9TqJMTciojn65f8dHtJs0HtMQkjvrrbbrpDOZbFmgX5rn-nduIrkliLiW2Kg__");
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.ingredient4{
    background-image: url("https://s3-alpha-sig.figma.com/img/bb9b/f61c/acecf67b63c3bb4c36ba72caf74dc92d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kH3DUUkt5bYIq-xIGST4QEgvWCPHloR7rQ6gzpepsk~hSc2zgrd8IyvxMQ2JRXJ~KmimI9vzSD9unzhZpY-zvT~R5r5fovr4QLWzGSun76XSiK0HZob05tUOPZj59zChUKF9mwE4U2cUG0VGwEZ1pDOevs10TygZND7Mow33bk9jZZB7stnu6Kx9Fq7gPFI4yd-xsj64mkA4DNgLq5tyn-nfM3WzaEMe2PFgsBoTCNJdNMiaEnelDSzyCkzF3xo-x5guR3fJBUPpE3eXYYPv8SnNPo4EW9dwX5xxbsAv6F7bZxkR9OJNM-c9pSjubsOOc22VxkaXbQk~oaccetzMpg__");
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.ingredient5{
    background-image: url("https://s3-alpha-sig.figma.com/img/9f1f/4b6a/35f9c69109d60d6aacc825461a966f41?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=P4QeSzEx6Qk1lfrSnu5oaMPU1nEty3luQ4uWZ547yeSRhsphPVMJdfyRTa2XsnTT5gVy2xQT9xeUp9NOblWzcNpiCuSRAiL8Em~~PuoT85H0aaAFzHv-adJEfJMJ9rxxysSmwK1S8P5y1ZGc2BC9QjRWBxkisYVCmtiLnqr~O-QF2HaSavzseoV-1aQlHtkd9RUICqCC0jy0~VP0-xJV~xKtEzTWHAWgUND8EEVS34OBL3CYOZVMxxrAvGJ2vfzTdTYZisruw958TW1TEDvG6~pXZCc-ZQLlM3fv1l3WcE-OUW2UB3pfshubdFNjhsGpf2Vzcj7G-YXlHXl-zXC67Q__");
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}
.blog{
    text-align: center;
    color: #003569;
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
.latest-news{
    text-align: center;
    color: #003569;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 10px;
}
.news-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    list-style-type: none;
}
.news-container-content1{
    background-image:url("https://s3-alpha-sig.figma.com/img/e186/51c0/bff366efc73350d196325f72ae85615d?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=H93gFY~1gUwXkysy0T1Nehog7vVKi~rY3eqF2RYL8~wljB6e-ZC97ICaNDm~pt~mPSRTAoBD365zUCbru9CO9NwzTdagFor1~U5Y6C7CzjPI~hyvtmr4ZHUnzDUNOHL8wXF-q64J9-DkiwPJyrUA9DlK3qoUxkLvKJ3LcooTbBzhODsmogg8OH3ERMyuPGnimcvgXp0Rg2qE2A3SOlYeMe1XQufyxuO4FizyfkQOeXGZLWaxwR0knUdStpogBfIw30pBAdMuO6C-fXagl9X9yEjq356rM3YOv96duoVRXZnYo0Bx8UIAnDDYQuecfLfJBWB-5~HE-A~0PyyBbWK1Dg__") ;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    width: 22%;
    height: 400px;
    margin: 10px;
}
.mid1{
    height: 200px;
}
.news-container-content2{
    background-image:url("https://s3-alpha-sig.figma.com/img/b9db/d8fe/538ccfb6083e67ad7f101adbfd0e48d7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BOpCkE9SFeW7vNlOr8ueRiEu2Le3BBA4Hdt3LXConppv~ponV2vFOwelZrkUd7nVwRnQtu0foUtFH-kYaczcGedT3djwqblFA5JuminqE-pxzeVt5wlk1Ve2-FQ-YgezCHKpvEar0CTu-g0r9-eE4VDFV1kAdPnlksrPSZciAdhUPXmSNMQHLTlruWKj0MpFO~wiB-wCO9L1BVySNMcJc1d39iQe-KD5zzDME7r3mDjwxETPkVdq1QAWTbmk~zVkZeZhygFxnYpWAmaRmaRMJqaSSArqC0WOLpVqdLST-9JoBw8KJZWCX-mS7EchzR1zfyJ2U8u-W87yrxDxNfz4dw__") ;
    background-size: cover;
    border-radius: 10px;
    width: 22%;
    text-align: center;
    padding-top: 60px;
    position: relative;
    bottom: 200px;
    color: #ffffff;
    height: 400px;
    margin: 10px;
}
.mid{
    background-image:url("https://s3-alpha-sig.figma.com/img/b9db/d8fe/538ccfb6083e67ad7f101adbfd0e48d7?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BOpCkE9SFeW7vNlOr8ueRiEu2Le3BBA4Hdt3LXConppv~ponV2vFOwelZrkUd7nVwRnQtu0foUtFH-kYaczcGedT3djwqblFA5JuminqE-pxzeVt5wlk1Ve2-FQ-YgezCHKpvEar0CTu-g0r9-eE4VDFV1kAdPnlksrPSZciAdhUPXmSNMQHLTlruWKj0MpFO~wiB-wCO9L1BVySNMcJc1d39iQe-KD5zzDME7r3mDjwxETPkVdq1QAWTbmk~zVkZeZhygFxnYpWAmaRmaRMJqaSSArqC0WOLpVqdLST-9JoBw8KJZWCX-mS7EchzR1zfyJ2U8u-W87yrxDxNfz4dw__") ;
    background-size: cover;
    border-radius: 10px;
    width: 22%;
    padding-top: 60px;
    text-align: center;
    bottom: 100px;
    color: #ffffff;
    height: 200px;
    margin: 10px;
}
.footer{
    background-color:#17414F;
    padding: 30px;
    padding-left: 50px;
}
.visit{
    background-color:#215D72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}
.moto{
    font-size: 13px;
    color: #ffffff;
    width: 50%;
    margin-left: 20px;
}
.address{
    font-size: 13px;
    color: #ffffff;
    width: 50%;
}
.bg{
    background-color: #ffffff;
    padding: 5px;
}
.logo-image{
    height: 40px;
    width: 150px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.flex-row{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.online{
    color: #ffffff;
}
@media screen and (max-width:768px)
{
    .logo-container img{
        height: 30px;
        width: 100px;
    }
    .logo-container{
        padding: 10px;
    }
    .medicine-container{
        height: 120px;
        width: 50%;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
        margin-bottom: 10px;
    }
    .medicine-img{
        height: 150px;
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        bottom: 30px;
        right: 0px;
        order: 0;
    }
    .online-text{
        text-align: center;
    }
    .text{
        font-size: 15px;
        text-align: center;
    }
    .explore-btn{
        height: 30px;
        width: 90px;
        margin: auto;
        margin-top: 5px;
    }
    .info-container{
        padding: 0px;
        line-height: normal;
        padding-bottom: 30px;
    }
    .essentials{
        justify-content: center;
    }
    .essentials div{
       display: flex;
       flex-direction: column;
       width: 80%;
       align-items: center;
       text-align: left;
       margin: 0px;
       margin-top: 20px;
    }
    .text1{
        text-align: center;
    }
    .essential-vitamins-container-div-container{
        order: 1;
        width: 100%;
    }
    .essential-vitamins-container{
        padding: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .essential-vitamins-imgs{
        height: 40px;
        width: 40px;
    }
    .info-container h1{
        font-size: 25px;
    }
    .about-container{
        padding: 0px;
        width: 90%;
        bottom: 5px;
    }
    .ingredient-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        height: auto;
        margin-left: 0px;
    }
    .circles{
        display: none;
    }
    .about-container li{
        width: 40%;
    }
    .news-container-content1{
        width: 150px;
        height: 200px;
    }
    .mid1{
        height: 200px;
    }
    .news-container-content2{
        width: 150px;
        height: 200px;
        position:static;
    }
    .mid{
        width: 150px;
    }
    .footer{
        padding: 20px;
    }
    .flex-row{
        display: flex;
        flex-direction: column;
    }
    .visit{
        margin: 10px;
    }
    .bg{
        margin: auto;
        margin-bottom: 20px;
    }
    .moto{
        margin: auto;
        text-align: center;
        width: 70%;
    }
    .address{
        margin: auto;
        text-align: center;
    }
}
@media screen and (min-width:768px) and (max-width:1024px)
{
    .news-container-content1{
        width: 20%;
        font-size: 13px;
    }
    .news-container-content2{
        width: 20%;
        font-size: 13px;
    }
    .mid{
        width: 20%;
        font-size: 13px;
    }
}